body {
    background-color: black;
    color: magenta;
    font-family: cursive;
}

h1, h2 {
    text-align: center;
}

#board {
    display: grid;
    gap: 16px; 
    border:10px solid pink;
    justify-content: center;
    background-color: aqua;
    padding: 20px;
    margin: 0 auto;
    max-width: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-gap: 16px;
}

.row {
    height: 120px;
    justify-content: space-between;
}

#row1 {
    grid-row-start: 1;
    grid-row-end: 2;
}

#row2 {
    grid-row-start: 2;
    grid-row-end: 3;
}

#row3 {
    grid-row-start: 3;
    grid-row-end: 4;
}

.column1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.column2 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.column3 {
    grid-column-start: 3;
    grid-column-end: 4;
}

.boxes {
    font-size: 80px;
    text-align: center;
    align-items: center;
}

#scores {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 100px
}

#button-row {
    text-align: center;
    margin-bottom: 20px;
}

button {
    background-color: greenyellow;
    border-radius: 25px;
    width: 200px;
    height: 50px;
    font-size: x-large;
}
    



/* Extra small devices (portrait phones, less than 576px)
 No media query since this is the default in Bootstrap

 Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

 Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

 Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

 Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */